#################
## Eclipse
#################
.*~
*.pydevproject
*.class
.project
.metadata
.mtj.tmp/
bin/
tmp/
datanucleus.log
*.log
*.tmp
*.bak
*.swp
*.jar
*.war
*.ear
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
target/
old/
target-ide/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
integtests/
